<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if logged_in? %>
        <ul>
            <li><%= current_user.username %></li>
            <a href="<%= new_sub_url %>"><li>Create a Sub!</li></a>
            <a href="<%= subs_url %>"><li>All Subs</li></a>

            <form action="<%= session_url %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="DELETE">
                <li><input type="submit" value="Sign Out"></li>
            </form>

        </ul>
        <% else %>
        <a href="<%= new_session_url %>">Sign In</a>
    <% end %>
  <%# when not signed in we need sign button %>
    <%# username, new_sub_url, subs_url, logout button %>
    <%= yield %>
    <%# when not sign in in login page we need link to sign up %>
  </body>
</html>
